.ccme input, .ccme label, .ccme button {
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    z-index: 2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ccme label {
    line-height: 1.5em;
    height: 1.5em;
    color: #5e656b;
    display: block;
}
.ccme input {
    display: inline-block;
}
.ccme .ccme-container {
    display: inline-block;
    margin-bottom: 0.4em;
}
.ccme {
    position: relative;
    display: block;
    font-size: 16px;
    font-family:'Helvetica', 'Arial', san-serif;
    text-align: left;
}
.ccme .ccme-well {
    width: 20.7em;
    position: relative;
    background-color: rgba(240, 240, 240, 1);
    border: 1px solid rgba(200, 200, 200, 1);
    padding: 1em;
}
.ccme .ccme-number {
    padding: 0.4em;
    font-size: 1.7em;
    width: 11.2em;
}
.ccme .ccme-name {
    padding: 0.4em;
    font-size: 1.2em;
}
.ccme .ccme-expiration {
    padding: 0.4em;
    font-size: 1.2em;
    width: 1.2em;
}
.ccme .ccme-code {
    padding: 0.4em;
    font-size: 1.2em;
    width: 2.3em;
    /*or 2em for 3 character code */
}
.ccme .ccme-btn {
    border: 1px solid #d9d9d9;
    padding: 0.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.1em;
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    font-family: Georgia;
    color: #000000;
    text-decoration: none;
}
.ccme .ccme-btn:hover {
    border: 1px solid #c0c0c0;
    -webkit-box-shadow: 0px 0px 1px 0px #bbb;
    box-shadow: 0px 0px 1px 0px #bbb;
    cursor: pointer;
    background: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #fbfbfb);
    background-image: -moz-linear-gradient(top, #f9f9f9, #fbfbfb);
    background-image: -ms-linear-gradient(top, #f9f9f9, #fbfbfb);
    background-image: -o-linear-gradient(top, #f9f9f9, #fbfbfb);
    background-image: linear-gradient(to bottom, #f9f9f9, #fbfbfb);
    text-decoration: none;
}
.ccme .ccme-btn:active {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 0px 1px 1px #d0d0d0;
    box-shadow: inset 0px 0px 1px 1px #d0d0d0;
    background: #e0e0e0;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #e5e5e5);
    background-image: -moz-linear-gradient(top, #e0e0e0, #e5e5e5);
    background-image: -ms-linear-gradient(top, #e0e0e0, #e5e5e5);
    background-image: -o-linear-gradient(top, #e0e0e0, #e5e5e5);
    background-image: linear-gradient(to bottom, #e0e0e0, #e5e5e5);
    text-decoration: none;
}